<h3><center>Applied Data Mining</center></h3>
<h1><center>Lab 2: Data Preparation</center></h1>


The objective of the second lab is to implement some of the methods that we have covered in the lecture to prepare the data for the modeling part. In this lab, you also have some tasks to do.

### Download and Import Data
The examples provided in this lab will use the following datasets. Download them and store them on the same path as your notebook is.
- __Building permits__: A building permit is an official approval document issued by a governmental agency that allows you or your contractor to proceed with a construction or remodeling project on one's property. To get more information about this dataset look [here](https://www.kaggle.com/aparnashastry/building-permit-applications-data)
- __Iris dataset__: gives the measurements in centimeters of the variables sepal length and width and petal length and width for 150 iris flowers from three different species. Download data from blackboard or [here](https://www.kaggle.com/saurabh00007/iriscsv/download)
- __AUS weather dataset__: The data set contains daily weather observations from numerous Australian weather stations. The target variable RainTomorrow means: Did it rain the next day? Yes or No. Download data from blackboard.

- __NSL_KDD dataset__: contains a standard set of data to be audited, which includes a wide variety of intrusions simulated in a military network environment. You can download this data from blackboard. To get more information about this dataset look [here](https://www.unb.ca/cic/datasets/nsl.html)

Download data from blackboard or [here](https://drive.google.com/open?id=1bYwUzFzrgCJ1lyjFVf3f4nyatBaMlcxS)
<img src="sepal vs petal.jpeg" />

    Using the below codes you can import the data and see some information about the data:

In [20]:
# modules we'll use
import pandas as pd
import numpy as np
import os
pd.options.mode.chained_assignment = None  # default='warn'

mydata_bpermits = pd.read_csv('lab2_data/Building_Permits.csv',low_memory=False)
mydata_bpermits.head()
mydata_bpermits.info()

print('Hi')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 43 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Number                           198900 non-null  object
 1   Permit Type                             198900 non-null  int64
 2   Permit Type Definition                  198900 non-null  object
 3   Permit Creation Date                    198900 non-null  object
 4   Block                                   198900 non-null  object
 5   Lot                                     198900 non-null  object
 6   Street Number                           198900 non-null  int64
 7   Street Number Suffix                    2216 non-null    object
 8   Street Name                             198900 non-null  object
 9   Street Suffix                           196132 non-null  object
 10  Unit                                    29479 non-null   float64
 11  Unit Suffix                             1961 non-null    object
 12  Description                             198610 non-null  object
 13  Current Status                          198900 non-null  object
 14  Current Status Date                     198900 non-null  object
 15  Filed Date                              198900 non-null  object
 16  Issued Date                             183960 non-null  object
 17  Completed Date                          97191 non-null   object
 18  First Construction Document Date        183954 non-null  object
 19  Structural Notification                 6922 non-null    object
 20  Number of Existing Stories              156116 non-null  float64
 21  Number of Proposed Stories              156032 non-null  float64
 22  Voluntary Soft-Story Retrofit           35 non-null      object
 23  Fire Only Permit                        18827 non-null   object
 24  Permit Expiration Date                  147020 non-null  object
 25  Estimated Cost                          160834 non-null  float64
 26  Revised Cost                            192834 non-null  float64
 27  Existing Use                            157786 non-null  object
 28  Existing Units                          147362 non-null  float64
 29  Proposed Use                            156461 non-null  object
 30  Proposed Units                          147989 non-null  float64
 31  Plansets                                161591 non-null  float64
 32  TIDF Compliance                         2 non-null       object
 33  Existing Construction Type              155534 non-null  float64
 34  Existing Construction Type Description  155534 non-null  object
 35  Proposed Construction Type              155738 non-null  float64
 36  Proposed Construction Type Description  155738 non-null  object
 37  Site Permit                             5359 non-null    object
 38  Supervisor District                     197183 non-null  float64
 39  Neighborhoods - Analysis Boundaries     197175 non-null  object
 40  Zipcode                                 197184 non-null  float64
 41  Location                                197200 non-null  object
 42  Record ID                               198900 non-null  int64
dtypes: float64(12), int64(3), object(28)
memory usage: 65.3+ MB
Hi

In [4]:
mydata_bpermits.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992


### Handling Missing Values
First, we need to make sure that whether the data consists missing values or not?

In [21]:
mydata_bpermits.isnull().count()

Permit Number                             198900
Permit Type                               198900
Permit Type Definition                    198900
Permit Creation Date                      198900
Block                                     198900
Lot                                       198900
Street Number                             198900
Street Number Suffix                      198900
Street Name                               198900
Street Suffix                             198900
Unit                                      198900
Unit Suffix                               198900
Description                               198900
Current Status                            198900
Current Status Date                       198900
Filed Date                                198900
Issued Date                               198900
Completed Date                            198900
First Construction Document Date          198900
Structural Notification                   198900
Number of Existing Stories                198900
Number of Proposed Stories                198900
Voluntary Soft-Story Retrofit             198900
Fire Only Permit                          198900
Permit Expiration Date                    198900
Estimated Cost                            198900
Revised Cost                              198900
Existing Use                              198900
Existing Units                            198900
Proposed Use                              198900
Proposed Units                            198900
Plansets                                  198900
TIDF Compliance                           198900
Existing Construction Type                198900
Existing Construction Type Description    198900
Proposed Construction Type                198900
Proposed Construction Type Description    198900
Site Permit                               198900
Supervisor District                       198900
Neighborhoods - Analysis Boundaries       198900
Zipcode                                   198900
Location                                  198900
Record ID                                 198900
dtype: int64


#### Using the below code you find the features which have missing values..

In [22]:
mydata_bpermits.shape

vars_with_missing = []

for f in mydata_bpermits.columns:
    #missings = mydata[f].isnull().count()
    missings = sum(mydata_bpermits[f].isnull())
    if missings > 0:
        vars_with_missing.append(f)
        missings_perc = missings/mydata_bpermits.shape[0]
        
        print('Variable {} has {} records ({:.2%}) with missing values'.format(f, missings, missings_perc))
        
print('In total, there are {} variables with missing values'.format(len(vars_with_missing)))

Variable Street Number Suffix has 196684 records (98.89%) with missing values
Variable Street Suffix has 2768 records (1.39%) with missing values
Variable Unit has 169421 records (85.18%) with missing values
Variable Unit Suffix has 196939 records (99.01%) with missing values
Variable Description has 290 records (0.15%) with missing values
Variable Issued Date has 14940 records (7.51%) with missing values
Variable Completed Date has 101709 records (51.14%) with missing values
Variable First Construction Document Date has 14946 records (7.51%) with missing values
Variable Structural Notification has 191978 records (96.52%) with missing values
Variable Number of Existing Stories has 42784 records (21.51%) with missing values
Variable Number of Proposed Stories has 42868 records (21.55%) with missing values
Variable Voluntary Soft-Story Retrofit has 198865 records (99.98%) with missing values
Variable Fire Only Permit has 180073 records (90.53%) with missing values
Variable Permit Expiration Date has 51880 records (26.08%) with missing values
Variable Estimated Cost has 38066 records (19.14%) with missing values
Variable Revised Cost has 6066 records (3.05%) with missing values
Variable Existing Use has 41114 records (20.67%) with missing values
Variable Existing Units has 51538 records (25.91%) with missing values
Variable Proposed Use has 42439 records (21.34%) with missing values
Variable Proposed Units has 50911 records (25.60%) with missing values
Variable Plansets has 37309 records (18.76%) with missing values
Variable TIDF Compliance has 198898 records (100.00%) with missing values
Variable Existing Construction Type has 43366 records (21.80%) with missing values
Variable Existing Construction Type Description has 43366 records (21.80%) with missing values
Variable Proposed Construction Type has 43162 records (21.70%) with missing values
Variable Proposed Construction Type Description has 43162 records (21.70%) with missing values
Variable Site Permit has 193541 records (97.31%) with missing values
Variable Supervisor District has 1717 records (0.86%) with missing values
Variable Neighborhoods - Analysis Boundaries has 1725 records (0.87%) with missing values
Variable Zipcode has 1716 records (0.86%) with missing values
Variable Location has 1700 records (0.85%) with missing values
In total, there are 31 variables with missing values

## Data Cleaning
### Removing Missing Values
Try to remove the features which have many missing values!

In [23]:
category_with_missing = []
missings = 0

for f in mydata_bpermits:
    #missings = mydata[f].isnull().count()
    missings = sum(mydata_bpermits[f].isnull())
    if missings > 0:
        vars_with_missing.append(f)
        missings_perc = missings/mydata_bpermits.shape[0]
        
        print('Variable {} has {} records ({:.2%}) with missing values'.format(f, missings, missings_perc))

mydata_bpermits=mydata_bpermits.drop(['Street Number Suffix','Fire Only Permit'],axis=1)

Variable Street Number Suffix has 196684 records (98.89%) with missing values
Variable Street Suffix has 2768 records (1.39%) with missing values
Variable Unit has 169421 records (85.18%) with missing values
Variable Unit Suffix has 196939 records (99.01%) with missing values
Variable Description has 290 records (0.15%) with missing values
Variable Issued Date has 14940 records (7.51%) with missing values
Variable Completed Date has 101709 records (51.14%) with missing values
Variable First Construction Document Date has 14946 records (7.51%) with missing values
Variable Structural Notification has 191978 records (96.52%) with missing values
Variable Number of Existing Stories has 42784 records (21.51%) with missing values
Variable Number of Proposed Stories has 42868 records (21.55%) with missing values
Variable Voluntary Soft-Story Retrofit has 198865 records (99.98%) with missing values
Variable Fire Only Permit has 180073 records (90.53%) with missing values
Variable Permit Expiration Date has 51880 records (26.08%) with missing values
Variable Estimated Cost has 38066 records (19.14%) with missing values
Variable Revised Cost has 6066 records (3.05%) with missing values
Variable Existing Use has 41114 records (20.67%) with missing values
Variable Existing Units has 51538 records (25.91%) with missing values
Variable Proposed Use has 42439 records (21.34%) with missing values
Variable Proposed Units has 50911 records (25.60%) with missing values
Variable Plansets has 37309 records (18.76%) with missing values
Variable TIDF Compliance has 198898 records (100.00%) with missing values
Variable Existing Construction Type has 43366 records (21.80%) with missing values
Variable Existing Construction Type Description has 43366 records (21.80%) with missing values
Variable Proposed Construction Type has 43162 records (21.70%) with missing values
Variable Proposed Construction Type Description has 43162 records (21.70%) with missing values
Variable Site Permit has 193541 records (97.31%) with missing values
Variable Supervisor District has 1717 records (0.86%) with missing values
Variable Neighborhoods - Analysis Boundaries has 1725 records (0.87%) with missing values
Variable Zipcode has 1716 records (0.86%) with missing values
Variable Location has 1700 records (0.85%) with missing values

In [24]:
mydata_bpermits.shape

(198900, 41)


#### Removing Missing Values
You can even remove all the columns which have missing values

In [25]:
mytestdata=mydata_bpermits.copy()
mytestdata=mytestdata.dropna(axis=1)
mytestdata.shape

(198900, 12)

Filling missing values with Mean and Mode. We apply these two methods on two numrical features as follows:

In [26]:
newcolumns=mydata_bpermits[['Zipcode','Revised Cost']]
#Mean
mean_values=newcolumns['Revised Cost'].mean()
newcolumns['Revised Cost']=newcolumns['Revised Cost'].fillna(mean_values)
#Mode
most_frequent_values=newcolumns['Zipcode'].mode()[0]
newcolumns['Zipcode']=newcolumns['Zipcode'].fillna(most_frequent_values)

In [27]:
#print the colun to make sure that have filled the missing values correctly:
print(newcolumns)

        Zipcode   Revised Cost
0       94102.0    4000.000000
1       94102.0     500.000000
2       94109.0  132856.186492
3       94109.0    2000.000000
4       94102.0  100000.000000
...         ...            ...
198895  94110.0       1.000000
198896  94110.0    5000.000000
198897  94110.0       1.000000
198898  94110.0       1.000000
198899  94110.0       1.000000

[198900 rows x 2 columns]

# Task 1
Try to handle missing values for categorical valriables?

In [52]:
#Fill the missing rows for ['Existing Construction Type','Proposed Use'] with the most common category

categorical_columns = mydata_bpermits[['Existing Construction Type','Proposed Use']]

for f in categorical_columns:
    missings = sum(categorical_columns[f].isnull())
    if missings > 0:
        vars_with_missing.append(f)
        missings_perc = missings/mydata_bpermits.shape[0]

        print('Variable {} has {} records ({:.2%}) with missing values'.format(f, missings, missings_perc))


most_frequent_values = categorical_columns['Existing Construction Type'].mode()[0]
newcolumns['Existing Construction Type'] = categorical_columns['Existing Construction Type'].fillna(most_frequent_values)

most_frequent_values = categorical_columns['Proposed Use'].mode()[0]
newcolumns['Proposed Use'] = categorical_columns['Proposed Use'].fillna(most_frequent_values)

#Repeat the same for other missing categorical columns with

Variable Existing Construction Type has 43366 records (21.80%) with missing values
Variable Proposed Use has 42439 records (21.34%) with missing values

In [53]:
print(newcolumns)
vars_with_missing = []
missings = 0
missings_perc = 0

#Check the changes after handling missing categorical values. If no output means, no missing values in data. 
for f in newcolumns:
    missings = sum(newcolumns[f].isnull())
    vars_with_missing.append(f)
    missings_perc = missings/mydata_bpermits.shape[0]
    print('Variable {} has {} records ({:.2%}) with missing values'.format(f, missings, missings_perc))

        Zipcode   Revised Cost  Existing Construction Type       Proposed Use
0       94102.0    4000.000000                         3.0  1 family dwelling
1       94102.0     500.000000                         3.0  1 family dwelling
2       94109.0  132856.186492                         1.0       retail sales
3       94109.0    2000.000000                         5.0  1 family dwelling
4       94102.0  100000.000000                         3.0  1 family dwelling
...         ...            ...                         ...                ...
198895  94110.0       1.000000                         5.0  1 family dwelling
198896  94110.0    5000.000000                         5.0         apartments
198897  94110.0       1.000000                         5.0  1 family dwelling
198898  94110.0       1.000000                         5.0  1 family dwelling
198899  94110.0       1.000000                         5.0  1 family dwelling

[198900 rows x 4 columns]
Variable Zipcode has 0 records (0.00%) with missing values
Variable Revised Cost has 0 records (0.00%) with missing values
Variable Existing Construction Type has 0 records (0.00%) with missing values
Variable Proposed Use has 0 records (0.00%) with missing values

### Interpolation 
We intend to inerpolate some of the missing values 'NaN' by interpolation.

In [54]:
#we copy the two columns again..
newcolumns=mydata_bpermits[['Zipcode','Revised Cost']]

#here we use a magic:)  'df.interpolade()' function.
newcolumns['Revised Cost']=newcolumns['Revised Cost'].interpolate()

#try to see what happened
print(newcolumns['Revised Cost'])

#interpolation function has other parameters which you can use based on your problem..
#For example, by default the function is linear, but you can change it to polynominal, pad, etc. You can find 
#more info here: https://pandas.pydata.org/pandas-docs/version/0.24.2/reference/api/pandas.DataFrame.interpolate.html

0           4000.0
1            500.0
2           1250.0
3           2000.0
4         100000.0
            ...
198895         1.0
198896      5000.0
198897         1.0
198898         1.0
198899         1.0
Name: Revised Cost, Length: 198900, dtype: float64

#### Binning the data
In this part, we try to handle noisy data by binning method. 
Here is an example of "ticket price". As we dicsucsed during the class, sort the data: 4,8,15,21,21,24,25,28,34 , and then: 

1. Binning with Mean:
    - Bin1: 9,9,9
    - Bin2: 22,22,22
    - Bin3: 29,29,29

2. Binning with Boundaries:

    - Bin1: 4,4,15
    - Bin2: 21,21,24
    - Bin3: 25,25,34
    
3. Binning with Median:

    - Bin1: 8,8,8
    - Bin2: 21,21,21
    - Bin3: 28,28,28


##### Instruction:
Follow the below to do so:
1. Import the iris data set:
1. Sort the array of given data set.
2. Divide the range into N (in this case 5) intervals, each containing the approximately same number of samples(Equal-depth    
   partitioning).
3. Store mean/ median/ boundaries in each row.
First import the data and select only one column to apply your binding methods:

In [91]:
import xlrd
import csv
import numpy as np   
import math 
import pandas as pd
from sklearn.datasets import load_iris 
from sklearn import datasets, linear_model, metrics  
#importing the data
mydata_iris=pd.read_csv('lab2_data/iris.csv')
mydata_iris.describe()

a = np.array(mydata_iris.iloc[:,2])
b = np.zeros(150) 
  
 
b=np.sort(a)  #sort the array 
  
# we decided to have three bins
bin1=np.zeros((30,5))  
bin2=np.zeros((30,5)) 
bin3=np.zeros((30,5))

In [97]:
b[1]

2.2

#Binning with Mean:

In [58]:

  
# Binning with mean 
for i in range (0,150,5): 
    k=int(i/5) 
    mean=(b[i] + b[i+1] + b[i+2] + b[i+3] + b[i+4])/5
    for j in range(5): 
        bin1[k,j]=mean 
print("Bin Mean: \n",bin1)

Bin Mean:
 [[2.18 2.18 2.18 2.18 2.18]
 [2.34 2.34 2.34 2.34 2.34]
 [2.48 2.48 2.48 2.48 2.48]
 [2.52 2.52 2.52 2.52 2.52]
 [2.62 2.62 2.62 2.62 2.62]
 [2.7  2.7  2.7  2.7  2.7 ]
 [2.74 2.74 2.74 2.74 2.74]
 [2.8  2.8  2.8  2.8  2.8 ]
 [2.8  2.8  2.8  2.8  2.8 ]
 [2.86 2.86 2.86 2.86 2.86]
 [2.9  2.9  2.9  2.9  2.9 ]
 [2.96 2.96 2.96 2.96 2.96]
 [3.   3.   3.   3.   3.  ]
 [3.   3.   3.   3.   3.  ]
 [3.   3.   3.   3.   3.  ]
 [3.   3.   3.   3.   3.  ]
 [3.04 3.04 3.04 3.04 3.04]
 [3.1  3.1  3.1  3.1  3.1 ]
 [3.1  3.1  3.1  3.1  3.1 ]
 [3.2  3.2  3.2  3.2  3.2 ]
 [3.2  3.2  3.2  3.2  3.2 ]
 [3.24 3.24 3.24 3.24 3.24]
 [3.32 3.32 3.32 3.32 3.32]
 [3.4  3.4  3.4  3.4  3.4 ]
 [3.4  3.4  3.4  3.4  3.4 ]
 [3.48 3.48 3.48 3.48 3.48]
 [3.56 3.56 3.56 3.56 3.56]
 [3.74 3.74 3.74 3.74 3.74]
 [3.82 3.82 3.82 3.82 3.82]
 [4.12 4.12 4.12 4.12 4.12]]

#Binning with Boundaries:

In [98]:
# Bin boundaries 
for i in range (0,150,5): 
    k=int(i/5) 
    for j in range (5): 
        if (b[i+j]-b[i]) < (b[i+4]-b[i+j]): 
            bin2[k,j]=b[i] 
        else: 
            bin2[k,j]=b[i+4]        
print("Bin Boundaries: \n",bin2)

Bin Boundaries:
 [[2.  2.3 2.3 2.3 2.3]
 [2.3 2.3 2.3 2.4 2.4]
 [2.4 2.5 2.5 2.5 2.5]
 [2.5 2.5 2.5 2.5 2.6]
 [2.6 2.6 2.6 2.6 2.7]
 [2.7 2.7 2.7 2.7 2.7]
 [2.7 2.7 2.7 2.8 2.8]
 [2.8 2.8 2.8 2.8 2.8]
 [2.8 2.8 2.8 2.8 2.8]
 [2.8 2.8 2.9 2.9 2.9]
 [2.9 2.9 2.9 2.9 2.9]
 [2.9 2.9 3.  3.  3. ]
 [3.  3.  3.  3.  3. ]
 [3.  3.  3.  3.  3. ]
 [3.  3.  3.  3.  3. ]
 [3.  3.  3.  3.  3. ]
 [3.  3.  3.  3.1 3.1]
 [3.1 3.1 3.1 3.1 3.1]
 [3.1 3.1 3.1 3.1 3.1]
 [3.2 3.2 3.2 3.2 3.2]
 [3.2 3.2 3.2 3.2 3.2]
 [3.2 3.2 3.2 3.3 3.3]
 [3.3 3.3 3.3 3.3 3.4]
 [3.4 3.4 3.4 3.4 3.4]
 [3.4 3.4 3.4 3.4 3.4]
 [3.4 3.5 3.5 3.5 3.5]
 [3.5 3.5 3.6 3.6 3.6]
 [3.7 3.7 3.7 3.8 3.8]
 [3.8 3.8 3.8 3.8 3.9]
 [3.9 3.9 3.9 4.4 4.4]]

#Binning with Median:

In [99]:
# Bin median 
for i in range (0,150,5): 
    k=int(i/5) 
    for j in range (5): 
        bin3[k,j]=b[i+2] 
print("Bin Median: \n",bin3)

Bin Median:
 [[2.2 2.2 2.2 2.2 2.2]
 [2.3 2.3 2.3 2.3 2.3]
 [2.5 2.5 2.5 2.5 2.5]
 [2.5 2.5 2.5 2.5 2.5]
 [2.6 2.6 2.6 2.6 2.6]
 [2.7 2.7 2.7 2.7 2.7]
 [2.7 2.7 2.7 2.7 2.7]
 [2.8 2.8 2.8 2.8 2.8]
 [2.8 2.8 2.8 2.8 2.8]
 [2.9 2.9 2.9 2.9 2.9]
 [2.9 2.9 2.9 2.9 2.9]
 [3.  3.  3.  3.  3. ]
 [3.  3.  3.  3.  3. ]
 [3.  3.  3.  3.  3. ]
 [3.  3.  3.  3.  3. ]
 [3.  3.  3.  3.  3. ]
 [3.  3.  3.  3.  3. ]
 [3.1 3.1 3.1 3.1 3.1]
 [3.1 3.1 3.1 3.1 3.1]
 [3.2 3.2 3.2 3.2 3.2]
 [3.2 3.2 3.2 3.2 3.2]
 [3.2 3.2 3.2 3.2 3.2]
 [3.3 3.3 3.3 3.3 3.3]
 [3.4 3.4 3.4 3.4 3.4]
 [3.4 3.4 3.4 3.4 3.4]
 [3.5 3.5 3.5 3.5 3.5]
 [3.6 3.6 3.6 3.6 3.6]
 [3.7 3.7 3.7 3.7 3.7]
 [3.8 3.8 3.8 3.8 3.8]
 [4.1 4.1 4.1 4.1 4.1]]

### Normalization
#### Min-MaxScaler metod:
The data transformation is given by:

feature_std = (feature_x - feature_x.min(axis=0)) / (feature_x.max(axis=0) - feature_x.min(axis=0))
feature_scaled = feature_std * (max - min) + min

You can use the folwoing librry to do the normalization automatically:

#from sklearn import preprocessing
#min_max_scaler = preprocessing.MinMaxScaler()
#min_max_scaler.fit_transform('your data')
#min_max_scaler.fit_transform('your data')


## Task 2
Try to implement the normalization method on the iris data:

In [134]:
""" TODO:
Your code should be placed here...
"""
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()

features = np.array(mydata_iris.iloc[:,1:5])

print("Before Min Max Normalization - SepalLengthCm	SepalWidthCm	PetalLengthCm	PetalWidthCm")
print(features)

normalized_feature_width = min_max_scaler.fit_transform(features)
print("After Normalization")
print(normalized_feature_width)

Before Min Max Normalization - SepalLengthCm	SepalWidthCm	PetalLengthCm	PetalWidthCm
[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]
 [5.4 3.9 1.7 0.4]
 [4.6 3.4 1.4 0.3]
 [5.  3.4 1.5 0.2]
 [4.4 2.9 1.4 0.2]
 [4.9 3.1 1.5 0.1]
 [5.4 3.7 1.5 0.2]
 [4.8 3.4 1.6 0.2]
 [4.8 3.  1.4 0.1]
 [4.3 3.  1.1 0.1]
 [5.8 4.  1.2 0.2]
 [5.7 4.4 1.5 0.4]
 [5.4 3.9 1.3 0.4]
 [5.1 3.5 1.4 0.3]
 [5.7 3.8 1.7 0.3]
 [5.1 3.8 1.5 0.3]
 [5.4 3.4 1.7 0.2]
 [5.1 3.7 1.5 0.4]
 [4.6 3.6 1.  0.2]
 [5.1 3.3 1.7 0.5]
 [4.8 3.4 1.9 0.2]
 [5.  3.  1.6 0.2]
 [5.  3.4 1.6 0.4]
 [5.2 3.5 1.5 0.2]
 [5.2 3.4 1.4 0.2]
 [4.7 3.2 1.6 0.2]
 [4.8 3.1 1.6 0.2]
 [5.4 3.4 1.5 0.4]
 [5.2 4.1 1.5 0.1]
 [5.5 4.2 1.4 0.2]
 [4.9 3.1 1.5 0.1]
 [5.  3.2 1.2 0.2]
 [5.5 3.5 1.3 0.2]
 [4.9 3.1 1.5 0.1]
 [4.4 3.  1.3 0.2]
 [5.1 3.4 1.5 0.2]
 [5.  3.5 1.3 0.3]
 [4.5 2.3 1.3 0.3]
 [4.4 3.2 1.3 0.2]
 [5.  3.5 1.6 0.6]
 [5.1 3.8 1.9 0.4]
 [4.8 3.  1.4 0.3]
 [5.1 3.8 1.6 0.2]
 [4.6 3.2 1.4 0.2]
 [5.3 3.7 1.5 0.2]
 [5.  3.3 1.4 0.2]
 [7.  3.2 4.7 1.4]
 [6.4 3.2 4.5 1.5]
 [6.9 3.1 4.9 1.5]
 [5.5 2.3 4.  1.3]
 [6.5 2.8 4.6 1.5]
 [5.7 2.8 4.5 1.3]
 [6.3 3.3 4.7 1.6]
 [4.9 2.4 3.3 1. ]
 [6.6 2.9 4.6 1.3]
 [5.2 2.7 3.9 1.4]
 [5.  2.  3.5 1. ]
 [5.9 3.  4.2 1.5]
 [6.  2.2 4.  1. ]
 [6.1 2.9 4.7 1.4]
 [5.6 2.9 3.6 1.3]
 [6.7 3.1 4.4 1.4]
 [5.6 3.  4.5 1.5]
 [5.8 2.7 4.1 1. ]
 [6.2 2.2 4.5 1.5]
 [5.6 2.5 3.9 1.1]
 [5.9 3.2 4.8 1.8]
 [6.1 2.8 4.  1.3]
 [6.3 2.5 4.9 1.5]
 [6.1 2.8 4.7 1.2]
 [6.4 2.9 4.3 1.3]
 [6.6 3.  4.4 1.4]
 [6.8 2.8 4.8 1.4]
 [6.7 3.  5.  1.7]
 [6.  2.9 4.5 1.5]
 [5.7 2.6 3.5 1. ]
 [5.5 2.4 3.8 1.1]
 [5.5 2.4 3.7 1. ]
 [5.8 2.7 3.9 1.2]
 [6.  2.7 5.1 1.6]
 [5.4 3.  4.5 1.5]
 [6.  3.4 4.5 1.6]
 [6.7 3.1 4.7 1.5]
 [6.3 2.3 4.4 1.3]
 [5.6 3.  4.1 1.3]
 [5.5 2.5 4.  1.3]
 [5.5 2.6 4.4 1.2]
 [6.1 3.  4.6 1.4]
 [5.8 2.6 4.  1.2]
 [5.  2.3 3.3 1. ]
 [5.6 2.7 4.2 1.3]
 [5.7 3.  4.2 1.2]
 [5.7 2.9 4.2 1.3]
 [6.2 2.9 4.3 1.3]
 [5.1 2.5 3.  1.1]
 [5.7 2.8 4.1 1.3]
 [6.3 3.3 6.  2.5]
 [5.8 2.7 5.1 1.9]
 [7.1 3.  5.9 2.1]
 [6.3 2.9 5.6 1.8]
 [6.5 3.  5.8 2.2]
 [7.6 3.  6.6 2.1]
 [4.9 2.5 4.5 1.7]
 [7.3 2.9 6.3 1.8]
 [6.7 2.5 5.8 1.8]
 [7.2 3.6 6.1 2.5]
 [6.5 3.2 5.1 2. ]
 [6.4 2.7 5.3 1.9]
 [6.8 3.  5.5 2.1]
 [5.7 2.5 5.  2. ]
 [5.8 2.8 5.1 2.4]
 [6.4 3.2 5.3 2.3]
 [6.5 3.  5.5 1.8]
 [7.7 3.8 6.7 2.2]
 [7.7 2.6 6.9 2.3]
 [6.  2.2 5.  1.5]
 [6.9 3.2 5.7 2.3]
 [5.6 2.8 4.9 2. ]
 [7.7 2.8 6.7 2. ]
 [6.3 2.7 4.9 1.8]
 [6.7 3.3 5.7 2.1]
 [7.2 3.2 6.  1.8]
 [6.2 2.8 4.8 1.8]
 [6.1 3.  4.9 1.8]
 [6.4 2.8 5.6 2.1]
 [7.2 3.  5.8 1.6]
 [7.4 2.8 6.1 1.9]
 [7.9 3.8 6.4 2. ]
 [6.4 2.8 5.6 2.2]
 [6.3 2.8 5.1 1.5]
 [6.1 2.6 5.6 1.4]
 [7.7 3.  6.1 2.3]
 [6.3 3.4 5.6 2.4]
 [6.4 3.1 5.5 1.8]
 [6.  3.  4.8 1.8]
 [6.9 3.1 5.4 2.1]
 [6.7 3.1 5.6 2.4]
 [6.9 3.1 5.1 2.3]
 [5.8 2.7 5.1 1.9]
 [6.8 3.2 5.9 2.3]
 [6.7 3.3 5.7 2.5]
 [6.7 3.  5.2 2.3]
 [6.3 2.5 5.  1.9]
 [6.5 3.  5.2 2. ]
 [6.2 3.4 5.4 2.3]
 [5.9 3.  5.1 1.8]]
After Normalization
[[0.22222222 0.625      0.06779661 0.04166667]
 [0.16666667 0.41666667 0.06779661 0.04166667]
 [0.11111111 0.5        0.05084746 0.04166667]
 [0.08333333 0.45833333 0.08474576 0.04166667]
 [0.19444444 0.66666667 0.06779661 0.04166667]
 [0.30555556 0.79166667 0.11864407 0.125     ]
 [0.08333333 0.58333333 0.06779661 0.08333333]
 [0.19444444 0.58333333 0.08474576 0.04166667]
 [0.02777778 0.375      0.06779661 0.04166667]
 [0.16666667 0.45833333 0.08474576 0.        ]
 [0.30555556 0.70833333 0.08474576 0.04166667]
 [0.13888889 0.58333333 0.10169492 0.04166667]
 [0.13888889 0.41666667 0.06779661 0.        ]
 [0.         0.41666667 0.01694915 0.        ]
 [0.41666667 0.83333333 0.03389831 0.04166667]
 [0.38888889 1.         0.08474576 0.125     ]
 [0.30555556 0.79166667 0.05084746 0.125     ]
 [0.22222222 0.625      0.06779661 0.08333333]
 [0.38888889 0.75       0.11864407 0.08333333]
 [0.22222222 0.75       0.08474576 0.08333333]
 [0.30555556 0.58333333 0.11864407 0.04166667]
 [0.22222222 0.70833333 0.08474576 0.125     ]
 [0.08333333 0.66666667 0.         0.04166667]
 [0.22222222 0.54166667 0.11864407 0.16666667]
 [0.13888889 0.58333333 0.15254237 0.04166667]
 [0.19444444 0.41666667 0.10169492 0.04166667]
 [0.19444444 0.58333333 0.10169492 0.125     ]
 [0.25       0.625      0.08474576 0.04166667]
 [0.25       0.58333333 0.06779661 0.04166667]
 [0.11111111 0.5        0.10169492 0.04166667]
 [0.13888889 0.45833333 0.10169492 0.04166667]
 [0.30555556 0.58333333 0.08474576 0.125     ]
 [0.25       0.875      0.08474576 0.        ]
 [0.33333333 0.91666667 0.06779661 0.04166667]
 [0.16666667 0.45833333 0.08474576 0.        ]
 [0.19444444 0.5        0.03389831 0.04166667]
 [0.33333333 0.625      0.05084746 0.04166667]
 [0.16666667 0.45833333 0.08474576 0.        ]
 [0.02777778 0.41666667 0.05084746 0.04166667]
 [0.22222222 0.58333333 0.08474576 0.04166667]
 [0.19444444 0.625      0.05084746 0.08333333]
 [0.05555556 0.125      0.05084746 0.08333333]
 [0.02777778 0.5        0.05084746 0.04166667]
 [0.19444444 0.625      0.10169492 0.20833333]
 [0.22222222 0.75       0.15254237 0.125     ]
 [0.13888889 0.41666667 0.06779661 0.08333333]
 [0.22222222 0.75       0.10169492 0.04166667]
 [0.08333333 0.5        0.06779661 0.04166667]
 [0.27777778 0.70833333 0.08474576 0.04166667]
 [0.19444444 0.54166667 0.06779661 0.04166667]
 [0.75       0.5        0.62711864 0.54166667]
 [0.58333333 0.5        0.59322034 0.58333333]
 [0.72222222 0.45833333 0.66101695 0.58333333]
 [0.33333333 0.125      0.50847458 0.5       ]
 [0.61111111 0.33333333 0.61016949 0.58333333]
 [0.38888889 0.33333333 0.59322034 0.5       ]
 [0.55555556 0.54166667 0.62711864 0.625     ]
 [0.16666667 0.16666667 0.38983051 0.375     ]
 [0.63888889 0.375      0.61016949 0.5       ]
 [0.25       0.29166667 0.49152542 0.54166667]
 [0.19444444 0.         0.42372881 0.375     ]
 [0.44444444 0.41666667 0.54237288 0.58333333]
 [0.47222222 0.08333333 0.50847458 0.375     ]
 [0.5        0.375      0.62711864 0.54166667]
 [0.36111111 0.375      0.44067797 0.5       ]
 [0.66666667 0.45833333 0.57627119 0.54166667]
 [0.36111111 0.41666667 0.59322034 0.58333333]
 [0.41666667 0.29166667 0.52542373 0.375     ]
 [0.52777778 0.08333333 0.59322034 0.58333333]
 [0.36111111 0.20833333 0.49152542 0.41666667]
 [0.44444444 0.5        0.6440678  0.70833333]
 [0.5        0.33333333 0.50847458 0.5       ]
 [0.55555556 0.20833333 0.66101695 0.58333333]
 [0.5        0.33333333 0.62711864 0.45833333]
 [0.58333333 0.375      0.55932203 0.5       ]
 [0.63888889 0.41666667 0.57627119 0.54166667]
 [0.69444444 0.33333333 0.6440678  0.54166667]
 [0.66666667 0.41666667 0.6779661  0.66666667]
 [0.47222222 0.375      0.59322034 0.58333333]
 [0.38888889 0.25       0.42372881 0.375     ]
 [0.33333333 0.16666667 0.47457627 0.41666667]
 [0.33333333 0.16666667 0.45762712 0.375     ]
 [0.41666667 0.29166667 0.49152542 0.45833333]
 [0.47222222 0.29166667 0.69491525 0.625     ]
 [0.30555556 0.41666667 0.59322034 0.58333333]
 [0.47222222 0.58333333 0.59322034 0.625     ]
 [0.66666667 0.45833333 0.62711864 0.58333333]
 [0.55555556 0.125      0.57627119 0.5       ]
 [0.36111111 0.41666667 0.52542373 0.5       ]
 [0.33333333 0.20833333 0.50847458 0.5       ]
 [0.33333333 0.25       0.57627119 0.45833333]
 [0.5        0.41666667 0.61016949 0.54166667]
 [0.41666667 0.25       0.50847458 0.45833333]
 [0.19444444 0.125      0.38983051 0.375     ]
 [0.36111111 0.29166667 0.54237288 0.5       ]
 [0.38888889 0.41666667 0.54237288 0.45833333]
 [0.38888889 0.375      0.54237288 0.5       ]
 [0.52777778 0.375      0.55932203 0.5       ]
 [0.22222222 0.20833333 0.33898305 0.41666667]
 [0.38888889 0.33333333 0.52542373 0.5       ]
 [0.55555556 0.54166667 0.84745763 1.        ]
 [0.41666667 0.29166667 0.69491525 0.75      ]
 [0.77777778 0.41666667 0.83050847 0.83333333]
 [0.55555556 0.375      0.77966102 0.70833333]
 [0.61111111 0.41666667 0.81355932 0.875     ]
 [0.91666667 0.41666667 0.94915254 0.83333333]
 [0.16666667 0.20833333 0.59322034 0.66666667]
 [0.83333333 0.375      0.89830508 0.70833333]
 [0.66666667 0.20833333 0.81355932 0.70833333]
 [0.80555556 0.66666667 0.86440678 1.        ]
 [0.61111111 0.5        0.69491525 0.79166667]
 [0.58333333 0.29166667 0.72881356 0.75      ]
 [0.69444444 0.41666667 0.76271186 0.83333333]
 [0.38888889 0.20833333 0.6779661  0.79166667]
 [0.41666667 0.33333333 0.69491525 0.95833333]
 [0.58333333 0.5        0.72881356 0.91666667]
 [0.61111111 0.41666667 0.76271186 0.70833333]
 [0.94444444 0.75       0.96610169 0.875     ]
 [0.94444444 0.25       1.         0.91666667]
 [0.47222222 0.08333333 0.6779661  0.58333333]
 [0.72222222 0.5        0.79661017 0.91666667]
 [0.36111111 0.33333333 0.66101695 0.79166667]
 [0.94444444 0.33333333 0.96610169 0.79166667]
 [0.55555556 0.29166667 0.66101695 0.70833333]
 [0.66666667 0.54166667 0.79661017 0.83333333]
 [0.80555556 0.5        0.84745763 0.70833333]
 [0.52777778 0.33333333 0.6440678  0.70833333]
 [0.5        0.41666667 0.66101695 0.70833333]
 [0.58333333 0.33333333 0.77966102 0.83333333]
 [0.80555556 0.41666667 0.81355932 0.625     ]
 [0.86111111 0.33333333 0.86440678 0.75      ]
 [1.         0.75       0.91525424 0.79166667]
 [0.58333333 0.33333333 0.77966102 0.875     ]
 [0.55555556 0.33333333 0.69491525 0.58333333]
 [0.5        0.25       0.77966102 0.54166667]
 [0.94444444 0.41666667 0.86440678 0.91666667]
 [0.55555556 0.58333333 0.77966102 0.95833333]
 [0.58333333 0.45833333 0.76271186 0.70833333]
 [0.47222222 0.41666667 0.6440678  0.70833333]
 [0.72222222 0.45833333 0.74576271 0.83333333]
 [0.66666667 0.45833333 0.77966102 0.95833333]
 [0.72222222 0.45833333 0.69491525 0.91666667]
 [0.41666667 0.29166667 0.69491525 0.75      ]
 [0.69444444 0.5        0.83050847 0.91666667]
 [0.66666667 0.54166667 0.79661017 1.        ]
 [0.66666667 0.41666667 0.71186441 0.91666667]
 [0.55555556 0.20833333 0.6779661  0.75      ]
 [0.61111111 0.41666667 0.71186441 0.79166667]
 [0.52777778 0.58333333 0.74576271 0.91666667]
 [0.44444444 0.41666667 0.69491525 0.70833333]]

### Import the Australian weather data set

In [135]:
#importing the NSL-KDD data
mydata_weather = pd.read_csv('lab2_data/weatherAUS.csv',low_memory=False)
print(mydata_weather.shape)
mydata_weather.head(5)

(142193, 24)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

### Data Conversion-
#### Using Factorize, Label and One-hot Encding
Factorization is a method that we can convert categoricsl data to numericl. This is usefull when your e.g., feature selection algorithm does not support categorical data. SO in this way first, you can transfer your data to numerical, then you can send it to feature selection function to select the most informative attributes. Below you see a very simple example of factoriztion:

In [136]:
accomodation_data = ["Location","WindGustDir", "WindDir9am"]
num_data, meta_data = pd.factorize(accomodation_data)
print(meta_data)
print(num_data)

['Location' 'WindGustDir' 'WindDir9am']
[0 1 2]

In [137]:
#Import the necessary libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
onehot_encoder = OneHotEncoder(sparse=False)
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [141]:
#you can use one-hot encoding 
print('old shape:', mydata_weather.shape)
new_data=pd.get_dummies(mydata_weather['Location'])
new_column_names=new_data.columns
print(new_column_names)
print(new_data)
new_mydata_weather=mydata_weather.copy()
new_mydata_weather[new_column_names]=new_data

print('new shape:', new_mydata_weather.shape)
print(new_mydata_weather)

old shape: (142193, 24)
Index(['Adelaide', 'Albany', 'Albury', 'AliceSprings', 'BadgerysCreek',
       'Ballarat', 'Bendigo', 'Brisbane', 'Cairns', 'Canberra', 'Cobar',
       'CoffsHarbour', 'Dartmoor', 'Darwin', 'GoldCoast', 'Hobart',
       'Katherine', 'Launceston', 'Melbourne', 'MelbourneAirport', 'Mildura',
       'Moree', 'MountGambier', 'MountGinini', 'Newcastle', 'Nhil',
       'NorahHead', 'NorfolkIsland', 'Nuriootpa', 'PearceRAAF', 'Penrith',
       'Perth', 'PerthAirport', 'Portland', 'Richmond', 'Sale', 'SalmonGums',
       'Sydney', 'SydneyAirport', 'Townsville', 'Tuggeranong', 'Uluru',
       'WaggaWagga', 'Walpole', 'Watsonia', 'Williamtown', 'Witchcliffe',
       'Wollongong', 'Woomera'],
      dtype='object')
        Adelaide  Albany  Albury  AliceSprings  BadgerysCreek  Ballarat  \
0              0       0       1             0              0         0
1              0       0       1             0              0         0
2              0       0       1             0              0         0
3              0       0       1             0              0         0
4              0       0       1             0              0         0
...          ...     ...     ...           ...            ...       ...
142188         0       0       0             0              0         0
142189         0       0       0             0              0         0
142190         0       0       0             0              0         0
142191         0       0       0             0              0         0
142192         0       0       0             0              0         0

        Bendigo  Brisbane  Cairns  Canberra  ...  Townsville  Tuggeranong  \
0             0         0       0         0  ...           0            0
1             0         0       0         0  ...           0            0
2             0         0       0         0  ...           0            0
3             0         0       0         0  ...           0            0
4             0         0       0         0  ...           0            0
...         ...       ...     ...       ...  ...         ...          ...
142188        0         0       0         0  ...           0            0
142189        0         0       0         0  ...           0            0
142190        0         0       0         0  ...           0            0
142191        0         0       0         0  ...           0            0
142192        0         0       0         0  ...           0            0

        Uluru  WaggaWagga  Walpole  Watsonia  Williamtown  Witchcliffe  \
0           0           0        0         0            0            0
1           0           0        0         0            0            0
2           0           0        0         0            0            0
3           0           0        0         0            0            0
4           0           0        0         0            0            0
...       ...         ...      ...       ...          ...          ...
142188      1           0        0         0            0            0
142189      1           0        0         0            0            0
142190      1           0        0         0            0            0
142191      1           0        0         0            0            0
142192      1           0        0         0            0            0

        Wollongong  Woomera
0                0        0
1                0        0
2                0        0
3                0        0
4                0        0
...            ...      ...
142188           0        0
142189           0        0
142190           0        0
142191           0        0
142192           0        0

[142193 rows x 49 columns]
new shape: (142193, 73)
              Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
0       2008-12-01   Albury     13.4     22.9       0.6          NaN
1       2008-12-02   Albury      7.4     25.1       0.0          NaN
2       2008-12-03   Albury     12.9     25.7       0.0          NaN
3       2008-12-04   Albury      9.2     28.0       0.0          NaN
4       2008-12-05   Albury     17.5     32.3       1.0          NaN
...            ...      ...      ...      ...       ...          ...
142188  2017-06-20    Uluru      3.5     21.8       0.0          NaN
142189  2017-06-21    Uluru      2.8     23.4       0.0          NaN
142190  2017-06-22    Uluru      3.6     25.3       0.0          NaN
142191  2017-06-23    Uluru      5.4     26.9       0.0          NaN
142192  2017-06-24    Uluru      7.8     27.0       0.0          NaN

        Sunshine WindGustDir  WindGustSpeed WindDir9am  ... Townsville  \
0            NaN           W           44.0          W  ...          0
1            NaN         WNW           44.0        NNW  ...          0
2            NaN         WSW           46.0          W  ...          0
3            NaN          NE           24.0         SE  ...          0
4            NaN           W           41.0        ENE  ...          0
...          ...         ...            ...        ...  ...        ...
142188       NaN           E           31.0        ESE  ...          0
142189       NaN           E           31.0         SE  ...          0
142190       NaN         NNW           22.0         SE  ...          0
142191       NaN           N           37.0         SE  ...          0
142192       NaN          SE           28.0        SSE  ...          0

        Tuggeranong  Uluru  WaggaWagga  Walpole  Watsonia  Williamtown  \
0                 0      0           0        0         0            0
1                 0      0           0        0         0            0
2                 0      0           0        0         0            0
3                 0      0           0        0         0            0
4                 0      0           0        0         0            0
...             ...    ...         ...      ...       ...          ...
142188            0      1           0        0         0            0
142189            0      1           0        0         0            0
142190            0      1           0        0         0            0
142191            0      1           0        0         0            0
142192            0      1           0        0         0            0

        Witchcliffe  Wollongong  Woomera
0                 0           0        0
1                 0           0        0
2                 0           0        0
3                 0           0        0
4                 0           0        0
...             ...         ...      ...
142188            0           0        0
142189            0           0        0
142190            0           0        0
142191            0           0        0
142192            0           0        0

[142193 rows x 73 columns]

In [146]:
#you can use label_encoder.fit_transform() function
mydata_weather['Location']= label_encoder.fit_transform(mydata_weather['Location'])
print(mydata_weather['Location'])

0          2
1          2
2          2
3          2
4          2
          ..
142188    41
142189    41
142190    41
142191    41
142192    41
Name: Location, Length: 142193, dtype: int64

## Task 3
In this task you work on the "nsl-kdd-original" data. The data set containes numerical and categorical featurees. You need to check whether it contains missing values or noisy data, if yes try to handle them. You may need to convert the categoricall data to numericall, so you can use it (later) in the modeling part. This is because some of the classifiers can not suport categroical varaibles. When you have done use the feature selection function to select the most informative features. In the next lab, you will visualize this prepared data.

### Feature Selection
In this part, there is a function called "feature_importance()" which is responsible to select the most 'n' important features from the given data. 
At this point, it is not necessary to undrstand the feature_importance function. You just need to call the function with the data select the n top feasture. You can tune the numeber of top features to se what will happen.

In [148]:
from sklearn.ensemble import ExtraTreesClassifier
import matplotlib.pyplot as plt

def feature_importance(mydata,top_featurs):
    print('feature_selection_IMP started...')
    X=mydata.copy()
    y=X['label']
    #X=X.drop(['target','biweek_send_date','t_chassis'],axis=1).copy()
    
    model = ExtraTreesClassifier(n_estimators=100)
    model.fit(X,y)
    model.feature_importances_ #use inbuilt class feature_importances of tree based classifiers
    
    #plot graph of feature importances for better visualization
    feat_importances = pd.Series(model.feature_importances_, index=X.columns)
    #mc=feat_importances.nlargest(30).plot(kind='barh')
    mc=feat_importances.nlargest(top_featurs).index
    selected_column=np.array(mc)
    plt.show()
    # Fit, Format, and Return
    return selected_column

In [149]:
#importing the original data with categorical data
mydata_NSL_KDD = pd.read_csv('lab2_data/nsl-kdd-original.csv',low_memory=False)
mydata_NSL_KDD.head()
print(mydata_NSL_KDD.shape)

(175341, 45)

In [152]:
print(mydata_NSL_KDD.head())
mydata_bpermits=mydata_NSL_KDD.copy()


vars_with_missing = []

for f in mydata_bpermits.columns:
    #missings = mydata[f].isnull().count()
    missings = sum(mydata_bpermits[f].isnull())
    if missings > 0:
        vars_with_missing.append(f)
        missings_perc = missings/mydata_bpermits.shape[0]
        
        print('Variable {} has {} records ({:.2%}) with missing values'.format(f, missings, missings_perc))
        
print('In total, there are {} variables with missing values'.format(len(vars_with_missing)))

   id       dur proto service state  spkts  dpkts  sbytes  dbytes       rate  \
0   1  0.121478   tcp       -   FIN      6      4     258     172  74.087490
1   2  0.649902   tcp       -   FIN     14     38     734   42014  78.473372
2   3  1.623129   tcp       -   FIN      8     16     364   13186  14.170161
3   4  1.681642   tcp     ftp   FIN     12     12     628     770  13.677108
4   5  0.449454   tcp       -   FIN     10      6     534     268  33.373826

   ...  ct_dst_sport_ltm  ct_dst_src_ltm  is_ftp_login  ct_ftp_cmd  \
0  ...                 1               1             0           0
1  ...                 1               2             0           0
2  ...                 1               3             0           0
3  ...                 1               3             1           1
4  ...                 1              40             0           0

   ct_flw_http_mthd  ct_src_ltm  ct_srv_dst  is_sm_ips_ports  attack_cat  \
0                 0           1           1                0      Normal
1                 0           1           6                0      Normal
2                 0           2           6                0      Normal
3                 0           2           1                0      Normal
4                 0           2          39                0      Normal

   label
0      0
1      0
2      0
3      0
4      0

[5 rows x 45 columns]
In total, there are 0 variables with missing values

In [163]:
mydata_NSL_KDD.head()

""" TODO:
1. fix the missing values
2. convert and normalize the values


Your code should be placed here...

3. using the below code you can call the feature selection function and select the 15 most important features
#Note: There is error with the auto feature selection code as it throws exception for non numerical rows

#top_featurs=15
#Sending the full data to the feature selection function
#selected_features=feature_importance(mydata_NSL_KDD,top_featurs)
#mydata_NSL_KDD=mydata_NSL_KDD[selected_features]
#print('selected features: ',mydata_NSL_KDD.columns)

Your code should be placed here...

"""
#1. There are no missing values/ blanks as per the output 
mydata_bpermits=mydata_NSL_KDD.copy()


vars_with_missing = []

for f in mydata_bpermits.columns:
    #missings = mydata[f].isnull().count()
    missings = sum(mydata_bpermits[f].isnull())
    if missings > 0:
        vars_with_missing.append(f)
        missings_perc = missings/mydata_bpermits.shape[0]
        
        print('Variable {} has {} records ({:.2%}) with missing values'.format(f, missings, missings_perc))
        
print('In total, there are {} variables with missing values'.format(len(vars_with_missing)))

#2. #Normalization of Numerical Values

from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()

#select the top 15 numerical features manually
features = np.array(mydata_NSL_KDD.loc[:,['dur','spkts','dpkts','sbytes','dbytes','rate','sttl','dttl','sload','dload','sloss','dloss','sinpkt','dinpkt','sjit']])

print("Before normalization")
print(features)

normalized_feature_width = min_max_scaler.fit_transform(features)
print("After Normalization")
print(normalized_feature_width)

#3. using the below code you can call the feature selection function and select the 15 most important features
#Note: There is error with the auto feature selection code as it throws exception for non numerical rows, e.g, 'tcp'

In total, there are 0 variables with missing values
Before normalization
[[1.21478000e-01 6.00000000e+00 4.00000000e+00 ... 2.42956000e+01
  8.37500000e+00 3.01775470e+01]
 [6.49902000e-01 1.40000000e+01 3.80000000e+01 ... 4.99150000e+01
  1.54328650e+01 6.14269340e+01]
 [1.62312900e+00 8.00000000e+00 1.60000000e+01 ... 2.31875571e+02
  1.02737203e+02 1.71795869e+04]
 ...
 [9.00000000e-06 2.00000000e+00 0.00000000e+00 ... 9.00000000e-03
  0.00000000e+00 0.00000000e+00]
 [9.00000000e-06 2.00000000e+00 0.00000000e+00 ... 9.00000000e-03
  0.00000000e+00 0.00000000e+00]
 [9.00000000e-06 2.00000000e+00 0.00000000e+00 ... 9.00000000e-03
  0.00000000e+00 0.00000000e+00]]
After Normalization
[[2.02463370e-03 5.20020801e-04 3.64497904e-04 ... 2.87959811e-04
  1.47663416e-04 2.06627593e-05]
 [1.08317020e-02 1.35205408e-03 3.46273009e-03 ... 5.91609754e-04
  2.72103829e-04 4.20594143e-05]
 [2.70521550e-02 7.28029121e-04 1.45799162e-03 ... 2.74826905e-03
  1.81140614e-03 1.17629729e-02]
 ...
 [1.50000028e-07 1.04004160e-04 0.00000000e+00 ... 1.06671097e-07
  0.00000000e+00 0.00000000e+00]
 [1.50000028e-07 1.04004160e-04 0.00000000e+00 ... 1.06671097e-07
  0.00000000e+00 0.00000000e+00]
 [1.50000028e-07 1.04004160e-04 0.00000000e+00 ... 1.06671097e-07
  0.00000000e+00 0.00000000e+00]]

<div class="alert alert-block alert-danger">

__IMPORTANT__ 

Please complete this Jupyter Notebook file and upload it in the Blackboard before the deadline.

</div>

## Aung Naing Oo